@page "/"
@using MauiGpt.Data
@using Markdig
@using MauiGpt.Dto
@using System.Text
@using MauiGpt.Interfaces
@using MauiGpt.Svg

@inject IJSRuntime JsRuntime
@inject ChatServiceFactory ChatServiceFactoryInstance
@inject MarkdownToHtml MarkdownToHtml
@inject ChatMessages ChatMessages


<div class="container">
    <div class="top">
        <div class="scroll-list" @ref="_scrollList">
            @foreach (var line in ChatMessages.AllMessages)
            {
                var messageClass = MessageClasses[line.Type];

                <div class="@messageClass">
                    @foreach (var block in line.HtmlBlocks)
                    {
                        if (block.Type == BlockType.Code)
                        {
                            Guid guid = Guid.NewGuid();
                            <pre>
                                <code class='hljs'>
                                    <div class="chat-code-heading">
                                        <a onclick="copyToClipboard('@guid')" title="Copy code">
                                            <CopyIcon />
                                        </a>
                                    </div>
                                    <span id="@guid">
                                        @((MarkupString)block.Html)
                                    </span>
                                </code>
                            </pre>
                        }
                        else if (block.Type == BlockType.Editable)
                        {
                            <div>
                                @((MarkupString)block.Html)
                            </div>
                            <a @onclick="() => EditAgain(block.Html)" title="Edit">
                                <PencilIcon />
                            </a>
                        }
                        else
                        {
                            @((MarkupString)block.Html)
                        }
                    }
                </div>
            }
            
            @if (_showLog)
            {
                    <pre>
                        <code class='hljs'> 
                            <b>Logs</b><br/>--------------------------------------------------<br/>
                            @foreach (var line in SimpleMemLogger.Lines)
                            {
                                @line<br />
                            }
                        </code>
                    </pre>
            }
        </div>
    </div>
    
    <div class="bottom">
        <div class="chat-input-container">
            <input class="chat-input-field" type="text" @bind="_chatQuestion" @onkeyup="QuestionKeyUp">
            <a @onclick="AddText" title="Send" class="chat-input-icon"><SendIcon/></a>
            <a @onclick="ClearHistory" title="Clear history" class="chat-input-icon"><SkipBackIcon/></a>
            <a @onclick="ClearConversation" title="Clear conversation" class="chat-input-icon"><TrashIcon/></a>
            @* <a @onclick="ToggleShowLog" title="Log" class="chat-input-icon"><LogsIcon /></a> *@
        </div>
        @if (_answerInProgress)
        {
            <div class="chat-cancel-container">
                <a @onclick="CancelAnswer" title="Cancel answer" class="chat-cancel">Cancel!</a>
            </div>
        }
    </div>
</div>


@code {
    private string _chatQuestion;
    private bool _answerInProgress = false;
    private CancellationTokenSource _cancellationTokenSource = new CancellationTokenSource();

    private ElementReference _scrollList;
    private bool _showLog = false;

    private static readonly Dictionary<ChatMessageType, string> MessageClasses = new()
    {
        { ChatMessageType.Info, "gpt-info" },
        { ChatMessageType.Question, "gpt-question" },
        { ChatMessageType.Answer, "gpt-answer" },
        { ChatMessageType.Error, "gpt-error" }
    };

    // protected override async Task OnInitializedAsync()
    // {
    // }

    private void ToggleShowLog()
    {
        _showLog = !_showLog;
    }

    private async Task QuestionKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (e.CtrlKey)
            {
 //               _chatQuestion += "#";
            }
            else
            {
                await AddText();
            }
        }
        else if (e.Key == "l" && e.CtrlKey == true)
        {
            ToggleShowLog();
        }
    }

    private async Task CallbackPartMessage(string part)
    {
        IList<HtmlBlock> htmlBlocks = await MarkdownToHtml.Convert(part, ColorCodeblock);
        ChatMessages.SetTemporaryLine(htmlBlocks);

        StateHasChanged();
    }

    private void ClearHistory()
    {
        ChatServiceFactoryInstance.GetChatService().ClearHistory();
        ChatMessages.AddInfo("History Cleared!");
    }

    private void ClearConversation()
    {
        ChatServiceFactoryInstance.GetChatService().ClearHistory();
        ChatMessages.Clear();
    }

   private void CancelAnswer()
    {
        _cancellationTokenSource.Cancel();
        _answerInProgress = false;
    }

    private async Task AddText()
    {
        _answerInProgress = true;
        try
        {
            if (string.IsNullOrEmpty(_chatQuestion))
            {
                ChatMessages.AddInfo("Empty input");
            }
            else
            {
                var question = ChatMessages.CleanQuestion(_chatQuestion);
                ChatMessages.AddQuestion(question);
                _chatQuestion = "";
                var (status, answer) = await ChatServiceFactoryInstance.GetChatService().Ask(question, CallbackPartMessage, _cancellationTokenSource.Token);

                if (status == AiAnswerType.Error)
                {
                    ChatMessages.AddError(answer);
                }
                else
                {
                    IList<HtmlBlock> htmlBlocks = await MarkdownToHtml.Convert(answer, ColorCodeblock);
                    ChatMessages.AddAnswer(htmlBlocks);
                }
            }
        }
        catch (Exception e)
        {
            ChatMessages.AddError($"Error occured: {e.Message}");
        }
        finally
        {
            _answerInProgress = false;
            _cancellationTokenSource = new CancellationTokenSource();
        }
    }

    private async Task<string> ColorCodeblock(string language, string codeData)
    {
        return await JsRuntime.InvokeAsync<string>("colorCodeblock", codeData);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("scrollListToEnd", _scrollList);
    }

    private void EditAgain(string text)
    {
        _chatQuestion = ChatMessages.UncleanQuestion(text);
    }

}